.main-box {
  position: relative;
  //padding: 40px;
}
.hole-home-icon {
  width: 2em;
  height: 2em;
  color: white;
  margin: 0 0.5em;
}

.liking {
  animation: rotating 3s infinite;
}

@keyframes rotating {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
