.index {
  .input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.input-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
//
//.input-animation {
//  background: white;
//  animation: input-background .2s ease-out;
//}
//
//@keyframes input-background {
//  0% {
//    background: #19be6b33;
//  }
//  30% {
//    background: #19be6b33;
//  }
//  100% {
//    background: white;
//  }
//}


.main-box {
  position: relative;
}

.bubble-area {
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  padding-bottom: 120px;

  transition: height .2s ease-out;
}

.chat-bubble {
  animation: bubble-appear .2s ease-out;
}

@keyframes bubble-appear {
  0% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
