@import "../../app";

.input-bar {
  position: fixed;
  bottom: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  box-sizing: border-box;
  //-webkit-transition: bottom 0.25s cubic-bezier(0, .44, 0, 1);
  //transition: bottom 0.25s cubic-bezier(0, .44, 0, 1);
}

.main-box {
  //transition: all 0.25s cubic-bezier(0, .44, 0, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  //background-color: blanchedalmond;

  .relative-box {
    position: relative;
    height: 100%;
  }

  .white-space {
    width: 100vh;
    height: 50Px;
  }

  .index-nav-bar {
    //transition: top 0.5s ;
    transition: top 0.25s cubic-bezier(0, .44, 0, 1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10000;

    background-color: white;

    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    box-shadow: rgba(0, 0, 0, .1) 0 2Px 5Px;

    .index-avatar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .index-title {
        color: @title-color;
      }
    }

    .index-icon-group {

      display: flex;
      justify-content: center;
      align-items: center;

      @icon-size: 24Px;

      .index-icon {
        width: @icon-size;
        height: @icon-size;
        opacity: 0.5;
      }

      .index-divider {
        width: 0;
        height: @icon-size - 10Px;
        border-left: @border-color 2Px solid;
        border-top: transparent 2Px solid;
        border-bottom: transparent 2Px solid;
        margin: 0 15Px;
      }
    }
  }
}

