.base-view {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  text-align: center;
}

.report-scroll-view {
  width: 100vw;
}

.report-view {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.bottom-cover-view {
  width: 100vw;

  position: fixed;
  left: 0;
  bottom: 0;
}
