.navigate-bar {
  width: 100vw;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigate-name-wrapper {
  margin: 20px;
}


.icon-wrapper {
  width: 40px;
  height: 40px;
  margin: 20px;
}
