@import "../theme";

.page-1 {
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  width: 100vw;

  position: relative;
}

.name-bar {
  margin: 0 -30px;
  display: flex;
  align-items: center;
}

.name{
  padding-left: 30px;
  border-left: 2px @text-color solid;
  font-weight: bold;
  color: #555;
  font-size: 60px;
  padding-bottom: 4px;
}

.title {
  margin-top: 5vh;
  font-size: 100px;
}
