@import "./Bubble";
@import "../../../app";
.Right-wrapper {
  color: white;
  /* 只有右下角是尖的 */
  //border-top-left-radius: @bubble-radius;
  //border-bottom-left-radius: @bubble-radius;
  //border-top-right-radius: @bubble-radius;
  border-radius: @bubble-radius;
  //overflow: hidden;
  position: relative;

  .bubble-triangle {
    // 生成一个指向右边的三角形
    position: absolute;
    right: -8px;
    bottom: 30px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    //border-left: 10px solid #19be6b;
    border-bottom: 10px solid transparent;
  }

  .Right-image {
    max-width: 500px;
    border-radius: @bubble-radius;
    display: inline-block;
    margin: -20px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  }

  .Right-zoom-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 4px;
    margin-left: -64px;
    margin-bottom: 14px;
  }
}

// 强迫刷新依赖文件（连按两次注释快捷键即可）
.dev {
  //font-size: @font-size;
  font-size: 30px;
}
