.color-picker-option {
  min-width: 80px;
  height: 100px;
}

.selected {
  //width: 200px;
  border-color: white;
  position: relative;
  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "✓";
    font-family: sans-serif;
    text-shadow: 0 0 10px #00000055;
    font-size: 50px;
    color: white;
  }
}
