.color-picker-option {
  width: 100px;
  height: 100px;

  margin: 20px 0;

  border: 4px solid white;
  transition: width .15s ease-in-out;

  display: inline-block;
}

.selected {
  width: 200px;
  border-color: white;
  position: relative;
  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "✓";
    font-family: sans-serif;
    text-shadow: 0 0 10px #00000055;
    font-size: 50px;
    color: white;
  }
}
