.no-more-holes-view {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hole-bars-scroll-view {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
}

.create-hole-button {
  background: #2196F3;
  box-shadow: #00000055 0 10px 20px;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: fixed;
  border: unset;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  // 去除默认边框
  &:after {
    border: none;
  }

  .create-hole-button-icon {
    transform: scale(.7, .7);
    color: #ffffff;
  }
}
