.setting-view {
  width: 100vw;
  height: 100vh;

  padding: 10px 0;
}

.setting-bar-view{

  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bubble-color-options-scroll-view, .theme-color-options-scroll-view{
  white-space: nowrap;
}
