@import "./../../../components/common/animation/FlyInAnimation.less";

.main-box {
  background-color: #fafafa;
  min-height: 100vh;
  margin-top: -40px;
}

.menu-item, .menu-item-with-switch{
  opacity: 0;
  margin: 40px 0;
  padding: 20px 40px;
  background-color: white;
  border-bottom: 2px #eeeeee solid;
  border-top: 2px #eeeeee solid;
}

.menu-item-with-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker{
  margin: 20px -40px 20px -40px;
  display: flex;
}

.color-picker-option {
  flex: 1 1 auto;
}

.theme-picker {
  width: 100vw;
  margin: 0 -30px;
  white-space: nowrap;
  box-sizing: border-box;
}
