.setting-view {
  width: 100vw;
  height: 100vh;

  padding: 10px;
}

.setting-bar-view{
  width: 100vw;
  height: 100px;

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bubble-color-options-scroll-view {
  white-space: nowrap;
}
