.base-page {
  .hot-word-view {
    position: fixed;
    left: 25px;
    top: 150px;

    .hot-word {
      position: fixed;
      text-align: center;
      margin-bottom: 0 !important;
    }
  }

  .report-info {
    .inner-report-info {
      top: 800px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: fixed;
      text-align: center;
      margin-bottom: 0 !important;

      width: 100vw;
    }
  }

}
