.rainbow-1 {
  background-color: rgb(211, 44, 30);
  opacity: .8;
}

.rainbow-2 {
  background-color: rgb(241, 146, 54);
  opacity: .8;
}

.rainbow-3 {
  background-color: rgb(253, 237, 79);
  opacity: .8;
}

.rainbow-4 {
  background-color: rgb(54, 126, 48);
  opacity: .8;
}

.rainbow-5 {
  background-color: rgb(23, 86, 245);
  opacity: .8;
}

.rainbow-6 {
  background-color: rgb(108, 24, 131);
  opacity: .8;
}
