@import "../../../app";
@bg-color: #f8f8f9;
.IB-wrapper {
  width: 750px;
  position: relative;

  background-color: @bg-color;
  padding: 10px;
  box-sizing: border-box;
  border-top: @border-color 2px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  .IB-style-btn {
    @width: 32px;
    background-color: white;
    // 这样才会是正方形
    min-width: @width;
    height: @width;
    font-size: @width;
    font-weight: bolder;
    line-height: @width;
    text-align: center;
    padding: 10px;
    color: @sub-color;
    border: @border-color 2px solid;
    border-radius: 40%;
  }

  .IB-add-btn {
    // 设置为等宽字体+号会居中
    font-family: 'Courier New', 'Courier', monospace;

    font-size: 64px;
    width: 80px;
    font-weight: bold;
    color: @sub-color;
    text-align: center;
  }
  .close {
    transform: rotateZ(45deg);
  }

  .IB-input {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  &:after {
    content: '';
    width: 100vw;
    height: 600px;
    position: absolute;
    bottom: -600px;
    box-sizing: border-box;
    background: @bg-color;
  }
}

.IB-toolbar {
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30Px;

  background-color: @bg-color;
  //background-color: transparent;

  .IB-grid {
    text-align: center;
    z-index: 1000000000;
  }
}

.keyboard-stub {
  transition: height 0.35s cubic-bezier(0, 0, 0.1, 1);
  background: @bg-color;
  display: block;
}
