.hole-title-input {
  text-align: center;
  border: thin solid transparent;
  border-bottom-color: lightgray;
  padding-bottom: 4px;
}

.save-change-button {
  width:100vw;

  z-index: 2;
  position:fixed;
  bottom:0;
  left:0;
}
