.bubble {
  max-width: 550px;

  word-wrap: break-word;
  word-break: break-all;
  text-wrap: normal;

  padding: 20px;

  box-shadow: rgba(0,0,0,0.1) 0 5px 10px;
}

.bubble-text {
  text-align: justify;
  word-break: break-all;
  word-wrap: break-word;
  text-wrap: normal;
}
