.right-flex {
  flex-direction: row-reverse;
  //justify-content: flex-start;
  align-items: flex-end;
}

.left-flex {
  align-items: flex-end;
}

.avatar-wrapper {
  margin: 0 14px;
  display: inline-block;
}

.bubble-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;

  display: flex;
}

