.right-flex {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.left-flex {
  align-items: flex-end;
}

.avatar-wrapper {
  margin: 0 14px;
  transform: translateY(16%);
}

.bubble-item {
  width: 100%;
  box-sizing: border-box;
  margin: 10px;

  display: flex;
}

